/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3

/* Sitewide */
body
  font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif
  font-size: 62.5%
  padding-top: 1em
  background: #e7eff9 image-url('body_bg.gif') repeat-x

#page-wrapper
  margin: 0 auto
  width: 960px

.header
  background: image-url('bg_header.png') no-repeat
  height: 165px
  #logo img
    margin: 35px 0 7px 25px
  .slogan a
    color: #fff
    float: right
    font-size: 1.6em
    font-weight: 100
    margin: 0 80px 4px 0
    text-decoration: none
  nav
    clear: both
    ul
      margin-left: 7px
      li
        float: left
        list-style: none
        margin: 0
        padding: 0.3em 0.5em 0 0
        a
          color: #fff
          display: block
          font-size: 1.1em
          font-weight: normal
          text-decoration: none
          padding: 12px 1em 0 1em
          height: 25px
          &:hover
            background-color: #fff
            color: #12175e
          &.active
            color: #0c79cb

.content-wrapper
  background: transparent image-url('content_bg_wide.gif') repeat-y 100% 0
  padding: 20px

.footer
  background: transparent image-url('footer_bg_wide.gif') no-repeat 100% 0
  color: #999
  font-size: .9em
  height: 40px
  text-align: right
  padding: 15px 10px 0 0

.no-sidebars .footer
  background: transparent image-url('footer_bg_wide.gif') no-repeat 100% 0


/* Frontpage */
.page-home .content-wrapper
  section .panel-pane
    border: 1px solid #ccc
    +border-radius(4px)
    +single-box-shadow(#d6d6d6)
    h2
      font-size: 1.6em
      text-align: center
  .banner .panel-pane
    margin-bottom: 10px
    width: 100%
    a
      font-weight: normal
      text-decoration: none
    h2
      text-align: left
    .views-field-field-banner-image
      float: left
      padding: 20px
    .views-field-title
      padding: 20px 0 20px
  .frontpage-content
    .panel-pane.pane-menu-menu-quick-links
      margin-left: 0
      .pane-content li
        list-style: none
        a
          display: block
          height: 25px
          padding: 15px 0 0 30px
    .panel-pane
      height: 250px
      margin: 0 5px
      padding: 20px
      width: 180px
    .pane-3
      margin-right: 0

.frontpage-content .panel-pane
  float: left


#page
  overflow: hidden
  overflow-y: hidden
  overflow-x: hidden

a
  color: #1582dc
  font-size: 1.1em
  font-weight: bold
  &:hover
    color: #5bd

p
  font-size: 1.1em

#header
  padding-top: 10px
  background: transparent image-url('header_color_bars.png') no-repeat
  overflow: hidden
  width: 960px
  height: 125px

#header-inner
  background: transparent image-url('header_photos.jpg') no-repeat 100% 0
  height: 125px

#logo-title
  background: transparent image-url('header_globe.png') no-repeat
  height: 125px

#logo a
  text-indent: -5000px
  background: transparent image-url('neighborhood_nexus.png') no-repeat 15px 15px
  width: 265px
  height: 77px
  display: block

#site-name
  position: relative
  a
    text-indent: -5000px
    background: transparent image-url('connecting_atlantas_communities.png') no-repeat
    width: 247px
    height: 16px
    display: block
    position: absolute
    top: 97px
    left: 635px

h1
  font-size: 1em
  text-transform: uppercase
  font-weight: bold
  border-bottom: 2px solid #1582dc

h2
  color: #1582dc
  font-family: Georgia,Palatino,"Times New Roman",serif
  font-weight: normal

h3
  color: #439639
  color: #444
  font-family: Georgia,Palatino,"Times New Roman",serif
  font-weight: normal

#main
  background: transparent

.sidebar-left #main
  background: transparent image-url('content_bg.gif') top left repeat-y

.no-sidebars #main
  background: transparent image-url('content_bg_wide.gif') repeat-y 100% 0

#content-inner
  padding: 15px
  width: 940px

.content_left_without_right,
.content_right_without_left
  width: 940px

.content_left_with_right,
.content_right_with_left
  width: 369px

#sidebar-left
  font-size: .9em
  margin-top: 0
  width: 182px
  h2
    font-size: 1.1em
    margin: 3em 0 .5em 0
  p
    margin: 0 0 .5em 0
  #edit-mail-wrapper label
    display: none
  .form-radios
    width: auto
    display: none

#block-menu_block-1 h2
  margin-top: .3em

.menu-level-2 ul
  margin: 0
  li
    list-style: none

#navbar a
  float: left

#s3slider
  width: 330px
  height: 300px
  position: relative
  overflow: hidden

#s3sliderContent
  width: 340px
  position: absolute
  top: 0
  margin-left: 0

.s3sliderImage
  float: left
  position: relative
  display: none
  span
    position: absolute
    left: 0
    font: 10px/15px Arial, Helvetica, sans-serif
    padding: 10px 13px
    width: 330px
    background-color: #000
    filter: alpha(opacity=70)
    -moz-opacity: 0.7
    -khtml-opacity: 0.7
    opacity: 0.7
    color: #fff
    display: none
    bottom: 0

.clear
  clear: both

.neighborhood-corner
  h1
    font-size: 18px
    text-transform: none
    font-weight: bold
    border-bottom: none
  h2
    font-size: 15px
    font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif
    margin-top: 0
    font-weight: bold
  h3
    border-bottom: none
  #block-views-neighborhood_corner-block_2
    margin-bottom: 20px
  #content-left
    width: 690px
    margin-right: 10px
    .block-views
      clear: left
    .feed-icons
      float: right
      margin-top: -33px
      margin-bottom: 15px
    .buildmode-sticky, .buildmode-teaser
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ccc
      -webkit-box-shadow: 0 0 3px #aaa
      -mox-box-shadow: 0 0 3px #aaa
      box-shadow: 0 0 3px #aaa
      padding: 10px
      margin-bottom: 10px
    .buildmode-sticky .nd-region-middle:after, .buildmode-teaser .nd-region-middle:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
    .field-body
      margin-right: 10px
    .buildmode-sticky .nd-region-right, .buildmode-teaser .nd-region-right
      text-align: center
    .buildmode-sticky .nd-region-right .field-photos .field-item, .buildmode-teaser .nd-region-right .field-photos .field-item
      float: none
      margin: 0
    .profile .picture
      float: left
  #content-right
    width: 220px
    h2
      font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif
      font-size: 1.1em
      color: #12175e
    #block-menu-menu-user-admin
      -moz-border-radius: none
      -webkit-border-radius: none
      border-radius: none
      border: none
      -webkit-box-shadow: none
      -mox-box-shadow: none
      box-shadow: none
      padding: 0px
      margin-bottom: 0px
    .block
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ccc
      -webkit-box-shadow: 0 0 3px #aaa
      -mox-box-shadow: 0 0 3px #aaa
      box-shadow: 0 0 3px #aaa
      padding: 10px
      margin-bottom: 10px

.page-node-add-story .node-form .admin,
.node-type-story .node-form .admin
  margin-top: 15px

.node-type-story
  h1
    float: left
  .submitted img
    vertical-align: middle
    margin-right: 10px
  .field-sharethis
    text-align: right
    margin-right: 10px
    .stButton
      margin: 0
  .buildmode-full
    .field-submitted,
    .field-location,
    .field-what-can-be-done,
    .field-photos,
    .field-videos,
    .field-maps
      margin-bottom: 15px
    .field-what-can-be-done .field-label,
    .field-photos .field-label,
    .field-videos .field-label,
    .field-maps .field-label
      font-size: 15px
      color: #1582dc
      font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif
      margin-bottom: 5px
    .field-photos .field-item,
    .field-videos .field-item
      float: left
      margin-right: 10px
      margin-bottom: 10px
    .field-photos:after,
    .field-videos:after
      content: "."
      display: block
      height: 0
      clear: left
      visibility: hidden

.buildmode-bubble
  width: 300px
  height: 200px
  overflow-y: scroll
  overflow-x: hidden

.buildmode-bubble .node-type-story .field-photos,
.buildmode-sticky .node-type-story .field-photos,
.buildmode-teaser .node-type-story .field-photos
  clear: right
  float: right
  margin-left: 10px

.buildmode-bubble .node-type-story .field-read-more,
.buildmode-sticky .node-type-story .field-read-more,
.buildmode-teaser .node-type-story .field-read-more
  clear: right
  float: right
  margin-right: 45px

.node-type-story
  .field-terms
    font-size: 10px
  .comment
    .submitted
      float: left
      text-align: center
      width: 150px
      margin-right: 10px
      margin-top: 8px
      img
        margin-right: 0
    .content
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ccc
      -webkit-box-shadow: 0 0 3px #aaa
      -mox-box-shadow: 0 0 3px #aaa
      box-shadow: 0 0 3px #aaa
      padding: 10px
      margin-bottom: 10px
      margin-left: 150px
      div.links
        text-align: right

#block-menu-menu-user-admin
  h2
    display: none
  ul
    margin: 0
    padding: 0
  li
    display: inline
    float: left
    text-align: center
    margin: 0px 2px 10px
    &.first
      margin-left: 0px
    &.last
      margin-right: 0px
    &.single
      line-height: 35px

#block-views-term_blocks-block_2
  clear: left

#block-menu-menu-user-admin li a
  background: -webkit-gradient('linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5)')
  background: -moz-linear-gradient('center top, #79bbff 5%, #378de5 100%')
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5')
  background-color: #79bbff
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  border: 1px solid #84bbf3
  display: inline-block
  color: #fff
  font-family: arial
  font-size: 10px
  padding: 6px
  text-decoration: none
  width: 55px
  height: 35px
  &:hover
    background: -webkit-gradient('linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff)')
    background: -moz-linear-gradient('center top, #378de5 5%, #79bbff 100%')
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff')
    background-color: #378de5
  &:active
    position: relative
    top: 1px

.view-term-blocks .more-link
  color: #1582dc
  cursor: pointer

.filefield-element .widget-preview
  max-width: none
