/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Sitewide */
/* line 11, ../sass/screen.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 62.5%;
  padding-top: 1em;
  background: #e7eff9 url('../images/body_bg.gif?1333414884') repeat-x;
}

/* line 17, ../sass/screen.sass */
#page-wrapper {
  margin: 0 auto;
  width: 960px;
}

/* line 21, ../sass/screen.sass */
.header {
  background: url('../images/bg_header.png?1378320029') no-repeat;
  height: 165px;
}
/* line 24, ../sass/screen.sass */
.header #logo img {
  margin: 35px 0 7px 25px;
}
/* line 26, ../sass/screen.sass */
.header .slogan a {
  color: white;
  float: right;
  font-size: 1.6em;
  font-weight: 100;
  margin: 0 80px 4px 0;
  text-decoration: none;
}
/* line 33, ../sass/screen.sass */
.header nav {
  clear: both;
}
/* line 35, ../sass/screen.sass */
.header nav ul {
  margin-left: 7px;
}
/* line 37, ../sass/screen.sass */
.header nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0.3em 0.5em 0 0;
}
/* line 42, ../sass/screen.sass */
.header nav ul li a {
  color: white;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
  padding: 12px 1em 0 1em;
  height: 25px;
}
/* line 50, ../sass/screen.sass */
.header nav ul li a:hover {
  background-color: white;
  color: #12175e;
}
/* line 53, ../sass/screen.sass */
.header nav ul li a.active {
  color: #0c79cb;
}

/* line 56, ../sass/screen.sass */
.content-wrapper {
  background: transparent url('../images/content_bg_wide.gif?1333414884') repeat-y 100% 0;
  padding: 20px;
}

/* line 60, ../sass/screen.sass */
.footer {
  background: transparent url('../images/footer_bg_wide.gif?1333414884') no-repeat 100% 0;
  color: #999999;
  font-size: 0.9em;
  height: 40px;
  text-align: right;
  padding: 15px 10px 0 0;
}

/* line 68, ../sass/screen.sass */
.no-sidebars .footer {
  background: transparent url('../images/footer_bg_wide.gif?1333414884') no-repeat 100% 0;
}

/* line 71, ../sass/screen.sass */
.rounded {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #d6d6d6;
  -moz-box-shadow: 0px 0px 5px #d6d6d6;
  box-shadow: 0px 0px 5px #d6d6d6;
  margin-bottom: 20px;
  padding: 10px;
}

/* Frontpage */
/* line 80, ../sass/screen.sass */
.page-home .content-wrapper section .panel-pane h2 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 10px;
}
/* line 84, ../sass/screen.sass */
.page-home .content-wrapper .banner .panel-pane {
  margin-bottom: 10px;
  width: 100%;
}
/* line 87, ../sass/screen.sass */
.page-home .content-wrapper .banner .panel-pane a {
  font-weight: normal;
  text-decoration: none;
}
/* line 90, ../sass/screen.sass */
.page-home .content-wrapper .banner .panel-pane h2 {
  text-align: left;
}
/* line 92, ../sass/screen.sass */
.page-home .content-wrapper .banner .panel-pane .views-field-field-banner-image {
  float: left;
  padding: 20px;
}
/* line 95, ../sass/screen.sass */
.page-home .content-wrapper .banner .panel-pane .views-field-title {
  padding: 20px 0 20px;
}
/* line 98, ../sass/screen.sass */
.page-home .content-wrapper .frontpage-content .panel-pane.pane-menu-menu-quick-links {
  margin-left: 0;
}
/* line 100, ../sass/screen.sass */
.page-home .content-wrapper .frontpage-content .panel-pane.pane-menu-menu-quick-links .pane-content li {
  list-style: none;
}
/* line 102, ../sass/screen.sass */
.page-home .content-wrapper .frontpage-content .panel-pane.pane-menu-menu-quick-links .pane-content li a {
  display: block;
  height: 25px;
  padding: 15px 0 0 30px;
}
/* line 106, ../sass/screen.sass */
.page-home .content-wrapper .frontpage-content .panel-pane {
  height: 250px;
  margin: 0 5px;
  padding: 20px;
  width: 180px;
}
/* line 111, ../sass/screen.sass */
.page-home .content-wrapper .frontpage-content .pane-3 {
  margin-right: 0;
}

/* line 114, ../sass/screen.sass */
.frontpage-content .panel-pane {
  float: left;
}

/* End Frontpage */
/* line 119, ../sass/screen.sass */
a {
  color: #1582dc;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 123, ../sass/screen.sass */
a:hover {
  color: #55bbdd;
}

/* line 126, ../sass/screen.sass */
p {
  font-size: 1.1em;
}

/* line 129, ../sass/screen.sass */
h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #1582dc;
}

/* line 135, ../sass/screen.sass */
h2 {
  color: #1582dc;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
}

/* line 140, ../sass/screen.sass */
h3 {
  color: #439639;
  color: #444444;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
}

/* line 146, ../sass/screen.sass */
#sidebar-left {
  font-size: 0.9em;
  margin-top: 0;
  width: 182px;
}
/* line 150, ../sass/screen.sass */
#sidebar-left h2 {
  font-size: 1.1em;
  margin: 3em 0 0.5em 0;
}
/* line 153, ../sass/screen.sass */
#sidebar-left p {
  margin: 0 0 0.5em 0;
}
/* line 155, ../sass/screen.sass */
#sidebar-left #edit-mail-wrapper label {
  display: none;
}
/* line 157, ../sass/screen.sass */
#sidebar-left .form-radios {
  width: auto;
  display: none;
}

/* line 161, ../sass/screen.sass */
#block-menu_block-1 h2 {
  margin-top: 0.3em;
}

/* line 164, ../sass/screen.sass */
.menu-level-2 ul {
  margin: 0;
}
/* line 166, ../sass/screen.sass */
.menu-level-2 ul li {
  list-style: none;
}

/* line 169, ../sass/screen.sass */
#navbar a {
  float: left;
}

/* line 172, ../sass/screen.sass */
.clear {
  clear: both;
}

/* line 176, ../sass/screen.sass */
.page-neighborhood-corner h1 {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  border-bottom: none;
}
/* line 181, ../sass/screen.sass */
.page-neighborhood-corner h2 {
  font-size: 1.8em;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-top: 0;
  font-weight: bold;
}
/* line 186, ../sass/screen.sass */
.page-neighborhood-corner h3 {
  border-bottom: none;
}
/* line 188, ../sass/screen.sass */
.page-neighborhood-corner #block-views-neighborhood_corner-block_2 {
  margin-bottom: 20px;
}
/* line 190, ../sass/screen.sass */
.page-neighborhood-corner #content-left {
  width: 690px;
  margin-right: 10px;
}
/* line 193, ../sass/screen.sass */
.page-neighborhood-corner #content-left .block-views {
  clear: left;
}
/* line 195, ../sass/screen.sass */
.page-neighborhood-corner #content-left .feed-icons {
  float: right;
  margin-top: -33px;
  margin-bottom: 15px;
}
/* line 199, ../sass/screen.sass */
.page-neighborhood-corner #content-left .buildmode-sticky, .page-neighborhood-corner #content-left .buildmode-teaser {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 209, ../sass/screen.sass */
.page-neighborhood-corner #content-left .buildmode-sticky .nd-region-middle:after, .page-neighborhood-corner #content-left .buildmode-teaser .nd-region-middle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 215, ../sass/screen.sass */
.page-neighborhood-corner #content-left .field-body {
  margin-right: 10px;
}
/* line 217, ../sass/screen.sass */
.page-neighborhood-corner #content-left .buildmode-sticky .nd-region-right, .page-neighborhood-corner #content-left .buildmode-teaser .nd-region-right {
  text-align: center;
}
/* line 219, ../sass/screen.sass */
.page-neighborhood-corner #content-left .buildmode-sticky .nd-region-right .field-photos .field-item, .page-neighborhood-corner #content-left .buildmode-teaser .nd-region-right .field-photos .field-item {
  float: none;
  margin: 0;
}
/* line 222, ../sass/screen.sass */
.page-neighborhood-corner #content-left .profile .picture {
  float: left;
}
/* line 224, ../sass/screen.sass */
.page-neighborhood-corner #content-right {
  width: 220px;
}
/* line 226, ../sass/screen.sass */
.page-neighborhood-corner #content-right h2 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1.1em;
  color: #12175e;
}
/* line 230, ../sass/screen.sass */
.page-neighborhood-corner #content-right #block-menu-menu-user-admin {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin-bottom: 0px;
}
/* line 240, ../sass/screen.sass */
.page-neighborhood-corner #content-right .block {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 251, ../sass/screen.sass */
.page-node-add-story .node-form .admin,
.node-type-story .node-form .admin {
  margin-top: 15px;
}

/* line 256, ../sass/screen.sass */
.node-type-story h1 {
  float: left;
}
/* line 258, ../sass/screen.sass */
.node-type-story .submitted img {
  vertical-align: middle;
  margin-right: 10px;
}
/* line 261, ../sass/screen.sass */
.node-type-story .field-sharethis {
  text-align: right;
  margin-right: 10px;
}
/* line 264, ../sass/screen.sass */
.node-type-story .field-sharethis .stButton {
  margin: 0;
}
/* line 267, ../sass/screen.sass */
.node-type-story .buildmode-full .field-submitted,
.node-type-story .buildmode-full .field-location,
.node-type-story .buildmode-full .field-what-can-be-done,
.node-type-story .buildmode-full .field-photos,
.node-type-story .buildmode-full .field-videos,
.node-type-story .buildmode-full .field-maps {
  margin-bottom: 15px;
}
/* line 274, ../sass/screen.sass */
.node-type-story .buildmode-full .field-what-can-be-done .field-label,
.node-type-story .buildmode-full .field-photos .field-label,
.node-type-story .buildmode-full .field-videos .field-label,
.node-type-story .buildmode-full .field-maps .field-label {
  font-size: 15px;
  color: #1582dc;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom: 5px;
}
/* line 282, ../sass/screen.sass */
.node-type-story .buildmode-full .field-photos .field-item,
.node-type-story .buildmode-full .field-videos .field-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 287, ../sass/screen.sass */
.node-type-story .buildmode-full .field-photos:after,
.node-type-story .buildmode-full .field-videos:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

/* line 295, ../sass/screen.sass */
.buildmode-bubble {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 301, ../sass/screen.sass */
.buildmode-bubble .node-type-story .field-photos,
.buildmode-sticky .node-type-story .field-photos,
.buildmode-teaser .node-type-story .field-photos {
  clear: right;
  float: right;
  margin-left: 10px;
}

/* line 308, ../sass/screen.sass */
.buildmode-bubble .node-type-story .field-read-more,
.buildmode-sticky .node-type-story .field-read-more,
.buildmode-teaser .node-type-story .field-read-more {
  clear: right;
  float: right;
  margin-right: 45px;
}

/* line 316, ../sass/screen.sass */
.node-type-story .field-terms {
  font-size: 10px;
}
/* line 319, ../sass/screen.sass */
.node-type-story .comment .submitted {
  float: left;
  text-align: center;
  width: 150px;
  margin-right: 10px;
  margin-top: 8px;
}
/* line 325, ../sass/screen.sass */
.node-type-story .comment .submitted img {
  margin-right: 0;
}
/* line 327, ../sass/screen.sass */
.node-type-story .comment .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
}
/* line 338, ../sass/screen.sass */
.node-type-story .comment .content div.links {
  text-align: right;
}

/* line 341, ../sass/screen.sass */
#block-views-term_blocks-block_2 {
  clear: left;
}

/* line 345, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin ul {
  height: 50px;
  margin: 0;
  padding: 0;
}
/* line 349, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf {
  float: left;
  line-height: 1.5em;
  list-style: none;
  text-align: center;
  margin: 0 2px 10px;
  padding: 0;
}
/* line 356, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf.first {
  margin-left: 0px;
}
/* line 358, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf.last {
  line-height: 3.5em;
  margin-right: 0px;
}
/* line 361, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf a {
  background-color: #79bbff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #79bbff), color-stop(100%, #378de5));
  background-image: -webkit-linear-gradient(#79bbff, #378de5);
  background-image: -moz-linear-gradient(#79bbff, #378de5);
  background-image: -o-linear-gradient(#79bbff, #378de5);
  background-image: linear-gradient(#79bbff, #378de5);
  border: 1px solid #84bbf3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  color: white;
  font-family: arial;
  font-size: 10px;
  padding: 6px;
  text-decoration: none;
  width: 55px;
  height: 35px;
}
/* line 374, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf a:hover {
  background-color: #378de5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #378de5), color-stop(100%, #79bbff));
  background-image: -webkit-linear-gradient(#378de5, #79bbff);
  background-image: -moz-linear-gradient(#378de5, #79bbff);
  background-image: -o-linear-gradient(#378de5, #79bbff);
  background-image: linear-gradient(#378de5, #79bbff);
}
/* line 377, ../sass/screen.sass */
.pane-menu-menu-neighborhood-corner-admin li.leaf a:active {
  position: relative;
  top: 1px;
}

/* line 381, ../sass/screen.sass */
.view-term-blocks .more-link {
  color: #1582dc;
  cursor: pointer;
}

/* line 385, ../sass/screen.sass */
.filefield-element .widget-preview {
  max-width: none;
}
