/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 62.5%;
  padding-top: 1em;
  background: #e7eff9 url('../images/body_bg.gif?1333414884') repeat-x;
}

/* line 15, ../sass/screen.sass */
#page-wrapper {
  margin: 0 auto;
  width: 960px;
}

/* line 19, ../sass/screen.sass */
.header {
  background: url('../images/bg_header.png?1378320029') no-repeat;
  height: 165px;
}
/* line 22, ../sass/screen.sass */
.header #logo img {
  margin: 35px 0 7px 25px;
}
/* line 24, ../sass/screen.sass */
.header .slogan a {
  color: white;
  float: right;
  font-size: 1.6em;
  font-weight: 100;
  margin: 0 80px 4px 0;
  text-decoration: none;
}
/* line 31, ../sass/screen.sass */
.header nav {
  clear: both;
}
/* line 33, ../sass/screen.sass */
.header nav ul {
  margin-left: 7px;
}
/* line 35, ../sass/screen.sass */
.header nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0.3em 0.5em 0 0;
}
/* line 40, ../sass/screen.sass */
.header nav ul li a {
  color: white;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
  padding: 12px 1em 0 1em;
  height: 25px;
}
/* line 48, ../sass/screen.sass */
.header nav ul li a:hover {
  background-color: white;
  color: #12175e;
}
/* line 51, ../sass/screen.sass */
.header nav ul li a.active {
  color: #0c79cb;
}

/* line 54, ../sass/screen.sass */
.content-wrapper {
  background: transparent url('../images/content_bg_wide.gif?1333414884') repeat-y 100% 0;
  padding: 20px;
}

/* line 58, ../sass/screen.sass */
.footer {
  background: transparent url('../images/footer_bg_wide.gif?1333414884') no-repeat 100% 0;
  color: #999999;
  font-size: 0.9em;
  height: 40px;
  text-align: right;
  padding: 15px 10px 0 0;
}

/* line 66, ../sass/screen.sass */
.no-sidebars .footer {
  background: transparent url('../images/footer_bg_wide.gif?1333414884') no-repeat 100% 0;
}

/* line 69, ../sass/screen.sass */
#page {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 74, ../sass/screen.sass */
a {
  color: #1582dc;
  font-weight: bold;
}
/* line 77, ../sass/screen.sass */
a:hover {
  color: #55bbdd;
}

/* line 80, ../sass/screen.sass */
#header {
  padding-top: 10px;
  background: transparent url('../images/header_color_bars.png') no-repeat;
  overflow: hidden;
  width: 960px;
  height: 125px;
}

/* line 87, ../sass/screen.sass */
#header-inner {
  background: transparent url('../images/header_photos.jpg') no-repeat 100% 0;
  height: 125px;
}

/* line 91, ../sass/screen.sass */
#logo-title {
  background: transparent url('../images/header_globe.png') no-repeat;
  height: 125px;
}

/* line 95, ../sass/screen.sass */
#logo a {
  text-indent: -5000px;
  background: transparent url('../images/neighborhood_nexus.png') no-repeat 15px 15px;
  width: 265px;
  height: 77px;
  display: block;
}

/* line 102, ../sass/screen.sass */
#site-name {
  position: relative;
}
/* line 104, ../sass/screen.sass */
#site-name a {
  text-indent: -5000px;
  background: transparent url('../images/connecting_atlantas_communities.png') no-repeat;
  width: 247px;
  height: 16px;
  display: block;
  position: absolute;
  top: 97px;
  left: 635px;
}

/* line 114, ../sass/screen.sass */
h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #1582dc;
}

/* line 120, ../sass/screen.sass */
h2 {
  color: #1582dc;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
}

/* line 125, ../sass/screen.sass */
h3 {
  color: #439639;
  color: #444444;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
}

/* line 131, ../sass/screen.sass */
#main {
  background: transparent;
}

/* line 134, ../sass/screen.sass */
.sidebar-left #main {
  background: transparent url('../images/content_bg.gif') top left repeat-y;
}

/* line 137, ../sass/screen.sass */
.no-sidebars #main {
  background: transparent url('../images/content_bg_wide.gif?1333414884') repeat-y 100% 0;
}

/* line 140, ../sass/screen.sass */
#content-inner {
  padding: 15px;
  width: 940px;
}

/* line 144, ../sass/screen.sass */
.content_left_without_right,
.content_right_without_left {
  width: 940px;
}

/* line 148, ../sass/screen.sass */
.content_left_with_right,
.content_right_with_left {
  width: 369px;
}

/* line 152, ../sass/screen.sass */
#sidebar-left {
  font-size: 0.9em;
  margin-top: 0;
  width: 182px;
}
/* line 156, ../sass/screen.sass */
#sidebar-left h2 {
  font-size: 1.1em;
  margin: 3em 0 0.5em 0;
}
/* line 159, ../sass/screen.sass */
#sidebar-left p {
  margin: 0 0 0.5em 0;
}
/* line 161, ../sass/screen.sass */
#sidebar-left #edit-mail-wrapper label {
  display: none;
}
/* line 163, ../sass/screen.sass */
#sidebar-left .form-radios {
  width: auto;
  display: none;
}

/* line 167, ../sass/screen.sass */
#block-menu_block-1 h2 {
  margin-top: 0.3em;
}

/* line 170, ../sass/screen.sass */
.menu-level-2 ul {
  margin: 0;
}
/* line 172, ../sass/screen.sass */
.menu-level-2 ul li {
  list-style: none;
}

/* line 175, ../sass/screen.sass */
#navbar a {
  float: left;
}

/* line 178, ../sass/screen.sass */
#s3slider {
  width: 330px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

/* line 184, ../sass/screen.sass */
#s3sliderContent {
  width: 340px;
  position: absolute;
  top: 0;
  margin-left: 0;
}

/* line 190, ../sass/screen.sass */
.s3sliderImage {
  float: left;
  position: relative;
  display: none;
}
/* line 194, ../sass/screen.sass */
.s3sliderImage span {
  position: absolute;
  left: 0;
  font: 10px/15px Arial, Helvetica, sans-serif;
  padding: 10px 13px;
  width: 330px;
  background-color: black;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: white;
  display: none;
  bottom: 0;
}

/* line 209, ../sass/screen.sass */
.clear {
  clear: both;
}

/* line 213, ../sass/screen.sass */
.neighborhood-corner h1 {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  border-bottom: none;
}
/* line 218, ../sass/screen.sass */
.neighborhood-corner h2 {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-top: 0;
  font-weight: bold;
}
/* line 223, ../sass/screen.sass */
.neighborhood-corner h3 {
  border-bottom: none;
}
/* line 225, ../sass/screen.sass */
.neighborhood-corner #block-views-neighborhood_corner-block_2 {
  margin-bottom: 20px;
}
/* line 227, ../sass/screen.sass */
.neighborhood-corner #content-left {
  width: 690px;
  margin-right: 10px;
}
/* line 230, ../sass/screen.sass */
.neighborhood-corner #content-left .block-views {
  clear: left;
}
/* line 232, ../sass/screen.sass */
.neighborhood-corner #content-left .feed-icons {
  float: right;
  margin-top: -33px;
  margin-bottom: 15px;
}
/* line 236, ../sass/screen.sass */
.neighborhood-corner #content-left .buildmode-sticky, .neighborhood-corner #content-left .buildmode-teaser {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 246, ../sass/screen.sass */
.neighborhood-corner #content-left .buildmode-sticky .nd-region-middle:after, .neighborhood-corner #content-left .buildmode-teaser .nd-region-middle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 252, ../sass/screen.sass */
.neighborhood-corner #content-left .field-body {
  margin-right: 10px;
}
/* line 254, ../sass/screen.sass */
.neighborhood-corner #content-left .buildmode-sticky .nd-region-right, .neighborhood-corner #content-left .buildmode-teaser .nd-region-right {
  text-align: center;
}
/* line 256, ../sass/screen.sass */
.neighborhood-corner #content-left .buildmode-sticky .nd-region-right .field-photos .field-item, .neighborhood-corner #content-left .buildmode-teaser .nd-region-right .field-photos .field-item {
  float: none;
  margin: 0;
}
/* line 259, ../sass/screen.sass */
.neighborhood-corner #content-left .profile .picture {
  float: left;
}
/* line 261, ../sass/screen.sass */
.neighborhood-corner #content-right {
  width: 220px;
}
/* line 263, ../sass/screen.sass */
.neighborhood-corner #content-right h2 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1.1em;
  color: #12175e;
}
/* line 267, ../sass/screen.sass */
.neighborhood-corner #content-right #block-menu-menu-user-admin {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin-bottom: 0px;
}
/* line 277, ../sass/screen.sass */
.neighborhood-corner #content-right .block {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 288, ../sass/screen.sass */
.page-node-add-story .node-form .admin,
.node-type-story .node-form .admin {
  margin-top: 15px;
}

/* line 293, ../sass/screen.sass */
.node-type-story h1 {
  float: left;
}
/* line 295, ../sass/screen.sass */
.node-type-story .submitted img {
  vertical-align: middle;
  margin-right: 10px;
}
/* line 298, ../sass/screen.sass */
.node-type-story .field-sharethis {
  text-align: right;
  margin-right: 10px;
}
/* line 301, ../sass/screen.sass */
.node-type-story .field-sharethis .stButton {
  margin: 0;
}
/* line 304, ../sass/screen.sass */
.node-type-story .buildmode-full .field-submitted,
.node-type-story .buildmode-full .field-location,
.node-type-story .buildmode-full .field-what-can-be-done,
.node-type-story .buildmode-full .field-photos,
.node-type-story .buildmode-full .field-videos,
.node-type-story .buildmode-full .field-maps {
  margin-bottom: 15px;
}
/* line 311, ../sass/screen.sass */
.node-type-story .buildmode-full .field-what-can-be-done .field-label,
.node-type-story .buildmode-full .field-photos .field-label,
.node-type-story .buildmode-full .field-videos .field-label,
.node-type-story .buildmode-full .field-maps .field-label {
  font-size: 15px;
  color: #1582dc;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom: 5px;
}
/* line 319, ../sass/screen.sass */
.node-type-story .buildmode-full .field-photos .field-item,
.node-type-story .buildmode-full .field-videos .field-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 324, ../sass/screen.sass */
.node-type-story .buildmode-full .field-photos:after,
.node-type-story .buildmode-full .field-videos:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

/* line 332, ../sass/screen.sass */
.buildmode-bubble {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 338, ../sass/screen.sass */
.buildmode-bubble .node-type-story .field-photos,
.buildmode-sticky .node-type-story .field-photos,
.buildmode-teaser .node-type-story .field-photos {
  clear: right;
  float: right;
  margin-left: 10px;
}

/* line 345, ../sass/screen.sass */
.buildmode-bubble .node-type-story .field-read-more,
.buildmode-sticky .node-type-story .field-read-more,
.buildmode-teaser .node-type-story .field-read-more {
  clear: right;
  float: right;
  margin-right: 45px;
}

/* line 353, ../sass/screen.sass */
.node-type-story .field-terms {
  font-size: 10px;
}
/* line 356, ../sass/screen.sass */
.node-type-story .comment .submitted {
  float: left;
  text-align: center;
  width: 150px;
  margin-right: 10px;
  margin-top: 8px;
}
/* line 362, ../sass/screen.sass */
.node-type-story .comment .submitted img {
  margin-right: 0;
}
/* line 364, ../sass/screen.sass */
.node-type-story .comment .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  -mox-box-shadow: 0 0 3px #aaaaaa;
  box-shadow: 0 0 3px #aaaaaa;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
}
/* line 375, ../sass/screen.sass */
.node-type-story .comment .content div.links {
  text-align: right;
}

/* line 379, ../sass/screen.sass */
#block-menu-menu-user-admin h2 {
  display: none;
}
/* line 381, ../sass/screen.sass */
#block-menu-menu-user-admin ul {
  margin: 0;
  padding: 0;
}
/* line 384, ../sass/screen.sass */
#block-menu-menu-user-admin li {
  display: inline;
  float: left;
  text-align: center;
  margin: 0px 2px 10px;
}
/* line 389, ../sass/screen.sass */
#block-menu-menu-user-admin li.first {
  margin-left: 0px;
}
/* line 391, ../sass/screen.sass */
#block-menu-menu-user-admin li.last {
  margin-right: 0px;
}
/* line 393, ../sass/screen.sass */
#block-menu-menu-user-admin li.single {
  line-height: 35px;
}

/* line 396, ../sass/screen.sass */
#block-views-term_blocks-block_2 {
  clear: left;
}

/* line 399, ../sass/screen.sass */
#block-menu-menu-user-admin li a {
  background: -webkit-gradient("linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5)");
  background: -moz-linear-gradient("center top, #79bbff 5%, #378de5 100%");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: #79bbff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: white;
  font-family: arial;
  font-size: 10px;
  padding: 6px;
  text-decoration: none;
  width: 55px;
  height: 35px;
}
/* line 416, ../sass/screen.sass */
#block-menu-menu-user-admin li a:hover {
  background: -webkit-gradient("linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff)");
  background: -moz-linear-gradient("center top, #378de5 5%, #79bbff 100%");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color: #378de5;
}
/* line 421, ../sass/screen.sass */
#block-menu-menu-user-admin li a:active {
  position: relative;
  top: 1px;
}

/* line 425, ../sass/screen.sass */
.view-term-blocks .more-link {
  color: #1582dc;
  cursor: pointer;
}

/* line 429, ../sass/screen.sass */
.filefield-element .widget-preview {
  max-width: none;
}

/* line 433, ../sass/screen.sass */
.view-rotating-banner .node-inner {
  background: white;
}
/* line 435, ../sass/screen.sass */
.view-rotating-banner .node-inner-teaser {
  overflow: hidden;
}
/* line 437, ../sass/screen.sass */
.view-rotating-banner .banner-left {
  width: 450px;
}
/* line 439, ../sass/screen.sass */
.view-rotating-banner .banner-right {
  width: 400px;
  text-align: left;
}
/* line 442, ../sass/screen.sass */
.view-rotating-banner .banner-right a {
  text-decoration: none;
}
