/* $Id */

/**
 * @file
 *   OpenSourcery custom CSS
 */

.block
{
    width: 420px;
    background: white;
    float: left;
    min-height: 150px;
    border-bottom: none;
    margin-bottom: 0em;
}

.block.region-even
{
    padding-left: 105px;
}

.block.region-odd
{
    clear: both;
}

.site-name {
    padding: 0 0 0 0;
}

#header {
    background: url('images/header.jpg');
}

#header h1 a {
    border-top: 2px solid #78A795;
    border-left: 2px solid #78A795;
    border-right: 2px solid #78A795;
    position: absolute;
    width: 946px;
    height: 131px;
}

#header h1 a:hover {
    text-decoration: none;
}

#primary {
  background: none;
  border: none;
  background-color: #78A795;
  font-size: 1.1em;
  font-weight: bold;
}

#primary a {
  color: #0d1955;
  width: 90px;
  font-weight: bold;
  background: none;
  border-right: 1px solid #eee;
  height: 18px;
}

#primary a:hover {
  background-color: #0d1955;
  background-image: none;
  color: #fff;
  height: 18px;
}

.title {
  font-size: 1.5em;
  color: #0d1955;
}

h2 {
  color: #0d1955;
}

a:link, a:visited {
  color: #78A795;
}

#page-homepage h1 {
  display: none;
}

#page-homepage .node {
  display: none;
}

#footer {
  color: #0d1955;
  background-color: #78A795;
  margin-top: 20px;
  width: 950px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header {
  height: 131px;
}

#header a {
  height: 131px;
}

#wrapper, #main {
  width: 950px;
}

body.sidebar-none #main {
  width:950px;
}

.block-inner {
  width: 950px;
}

#primary a {
  width: auto;
  min-width: 90px;
}
